

@keyframes change {
  0% {
    background-color: red;
    border: 1px solid red;
  }
  100% {
    background-color: green;
    border: 1px solid green;
  }
}

#app4 .circle {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  border: 1px solid red;
}

#app4 .circle.active {
  animation: change 1s infinite alternate linear;
}
